body{
    background-color: #CED8F6;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
.in{
    width:380px;
    height:27px;
    background-color: #1883ba;
    border: 2px solid #0016b0;
    padding:10px;
    margin-top:5px;
    font-size:20px;
    color:#ffffff;
} 

textarea {
    width:380px;
    height:27px;
    background-color: #1883ba;
    border: 2px solid #0016b0;
    padding:10px;
    margin-top:5px;
    font-size:20px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.btn{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}